@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
  font-style: normal;
}

select::-webkit-scrollbar {
  width: 1px; 
}

select::-webkit-scrollbar-track {
  background: blue; 
  border-radius: 8px;
}


::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.scrollable-content {
  scrollbar-width: thin; 
  scrollbar-color: #888 #f0f0f0; 
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  border: 2px solid #ccc; 
  padding: 10px; 
  border-radius: 4px
}

.hoverEffect {
  transition: ease-in-out 300ms;
}


/* Styles the main calendar container */
.calendar-container {
  /* Add styles for the outer container */
  text-align: center;
  width: 46%;
  min-height: 100px;
}

@media (max-width: 768px) {
  .calendar-container {
    width: 90%;
    padding: 10px;
  }

  .react-calendar__navigation {
    padding: 10px 20px;
    font-size: 14px;
  }

  .react-calendar__tile {
    padding: 5px 0;
  }
}
  


/* Styles the main calendar component */
.calendar {
  /* Add styles for the calendar */
}

/* This styles the current day */
.current-day {
  /* Add styles for highlighting the current day */
  @apply bg-primary text-white rounded-lg
}

/* This styles marked days */
.marked-day {
  /* Add styles for the marked days */
  
  @apply bg-primary text-white rounded-lg
}

/* This styles the navigation bar (month and year selector) */
.react-calendar__navigation {
  /* Add styles for the navigation bar */
  font-weight: bold ;
  display: flex;
  padding: 10px 80px;
}

/* Styles for each calendar tile (day cell) */
.react-calendar__tile {
  /* Add styles for individual date tiles */
  padding: 10px 0;
}

/* Styles when hovering over a day */
.react-calendar__tile:hover {
  /* Add styles for hover effects */
  @apply bg-primary text-white rounded-lg hoverEffect
}

/* Styles for disabled days */
.react-calendar__tile--disabled {
  /* Add styles for disabled dates */
}
